@model MudulProject.Models.Secciones

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Secciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           <label>Aula:</label>
        </dt>

        <dd>
            @ViewBag.MapaAulas[Model.Id_Aulas]
        </dd>

        <dt>
            <label>Asignatura:</label>
        </dt>

        <dd>
            @ViewBag.MapaAsignaturas[Model.Id_Asignaturas]
        </dd>

        <dt>
            <label>Periodo:</label>
        </dt>

        <dd>
            @ViewBag.MapaPeriodos[Model.Id_Periodo]
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
