@model MudulProject.Models.Secciones

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Secciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Aulas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Aulas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Asignaturas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Asignaturas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Periodo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
