@model MudulProject.Models.Matriculas

@{
    ViewBag.Title = "Details";

    var TiposMatriculaMap = ViewBag.TiposMatriculaMap as Dictionary<int, string>;
    var AlumnosMap = ViewBag.AlumnosMap as Dictionary<int, string>;
    var MetodosDePagoMap = ViewBag.MetodosDePagoMap as Dictionary<int, string>;
    var CampusesMap = ViewBag.CampusesMap as Dictionary<int, string>;
}

<h2>Details</h2>

<div>
    <h4>Matriculas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberAccountId_Usuarios)
        </dt>

        <dd>
            @AlumnosMap[Model.NumberAccountId_Usuarios]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_TipoMatricula)
        </dt>

        <dd>
            @TiposMatriculaMap[Model.Id_TipoMatricula]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_MetodosDePago)
        </dt>

        <dd>
            @MetodosDePagoMap[Model.Id_MetodosDePago]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Campus)
        </dt>

        <dd>
            @CampusesMap[Model.Id_Campus]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
