@using System.Data; 

@{
    ViewBag.Title = "Secciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Secciones</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (DataColumn col in ViewBag.Tabla.Columns)
                {
                        <th>@col.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in ViewBag.Tabla.Rows)
            {
                <tr>
                    @foreach (DataColumn col in ViewBag.Tabla.Columns)
                    {
                        if (col.ColumnName == "Hora")
                        {
                            <td>@ViewBag.Formatear(row.Field<DateTime?>("Hora"))</td>
                        }
                        else
                        {
                            <td>@row[col.ColumnName]</td>                            
                        }
                    }
                     <td>
                         @Html.ActionLink("Ver Actividades", "", new { id=@row[0] })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>@Html.ActionLink("Regresar", "Index")</p>

