@model MudulProject.Models.ActividadXAlumno

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Actividad:</label>
        </dt>
        <dd>
            @ViewBag.MapaActividades[Model.Id_actividad]
        </dd>

        <dt>
            <label>Alumno:</label>
        </dt>
        <dd>
            @ViewBag.MapaAlumnos[Model.Id_alumno]
        </dd>

        <dt>
            <label>Hora Subida:</label>
        </dt>
        <dd>
            @Model.HoraSubida
        </dd>

        <dt>
            <label>Hora Calificacion:</label>
        </dt>
        <dd>
            @Model.HoraCalificacion
        </dd>

        <dt>
            <label>Nota:</label>
        </dt>
        <dd>@Model.Nota</dd>

        <dt><label>Archivo:</label></dt>
        <dd>@Model.Archivo</dd>
        
        <dt><label>Comentario:</label></dt>
        <dd>@Model.Comentario</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>