@model MudulProject.Models.ActividadXAlumno
@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<h2>Editar</h2>

<h5 class="field-validation-error">@ViewBag.ERROR</h5>
@using (Html.BeginForm())
{
     @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label class="control-label col-md-2">Hora Calificacion</label>
            <div class="col-md-10">
                @ViewBag.IdAXA
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Hora Calificacion</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoraCalificacion,Model.HoraCalificacionFormateada)
                @Html.ValidationMessageFor(model => model.HoraCalificacion)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nota</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nota)
                @Html.ValidationMessageFor(model => model.Nota)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Comentario</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comentario)
                @Html.ValidationMessageFor(model => model.Comentario)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar Cambios" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Participaciones", "Actividades", new { id=ViewBag.IdAXA }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}