@using System.Data; 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Calificaciones";
}
<h1>Calificaciones de Alumnos</h1>
<p>@Html.ActionLink("Asignar Calificaciones","Create") | @Html.ActionLink("Ver como alumno","IndexAlumno")</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (DataColumn col in ViewBag.Tabla.Columns)
                {
                    <th>@col.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in ViewBag.Tabla.Rows)
            {
                <tr>
                    @foreach (DataColumn col in ViewBag.Tabla.Columns)
                    {
                        if (col.ColumnName == "Hora Subida")
                        {
                            <td>@ViewBag.Formatear(row.Field<DateTime?>("Hora Subida"))</td>
                        }
                        else if(col.ColumnName=="Hora Calificacion")
                        {
                            <td>@ViewBag.Formatear(row.Field<DateTime?>("Hora Calificacion"))</td>
                        }
                        else if(col.ColumnName != "Hora Subida" && col.ColumnName!="Hora Calificacion")
                        {
                            <td>@row[col.ColumnName]</td>
                        }
                    }
                     <td>
                    @Html.ActionLink("Editar", "Edit", new { id=@row[0] }) |
                    @Html.ActionLink("Detalles", "Details", new { id=@row[0] }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id=@row[0] })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>