@using System.Data; 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Calificaciones";
}
<h1>Calificaciones de Alumnos</h1>
<p>@Html.ActionLink("Asignar Calificaciones","Create")</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (DataColumn col in ViewBag.Tabla.Columns)
                {
                    <th>@col.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in ViewBag.Tabla.Rows)
            {
                <tr>
                    @foreach (DataColumn col in ViewBag.Tabla.Columns)
                    {
                        <td>@row[col.ColumnName]</td>
                    }
                     <td>
                    @Html.ActionLink("Edit", "Edit") |
                    @Html.ActionLink("Details", "Details") |
                    @Html.ActionLink("Delete", "Delete")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>