@model MudulProject.Models.Asignaturas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var carrerasMap = ViewBag.CarrerasMap as Dictionary<int, string>;
}

<h2>Details</h2>

<div>
    <h4>Asignaturas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <label>Carrera</label>
        </dt>

        <dd>
            @carrerasMap[Model.Id_Carrera]
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
