@using System.Data;
@{
    ViewBag.Title = "Participaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Participaciones</h2>
<h3>@ViewBag.ERROR</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (DataColumn col in ViewBag.Tabla.Columns)
                {
                        <th>@col.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in ViewBag.Tabla.Rows)
            {
                <tr>
                    @foreach (DataColumn col in ViewBag.Tabla.Columns)
                    {
                        if (col.ColumnName == "Alumno")
                        {
                            <td>@ViewBag.MapaAlumnos[(int)row[col.ColumnName]]</td>
                        }
                        else 
                        {
                            <td>@row[col.ColumnName]</td>
                        }                            
                    }
                    <td>@Html.ActionLink("Editar", "Edit" , new { id=row["Id"] }) |
                          @Html.ActionLink("Detalles", "Details", new { id = row["Id"] }) |
                          @Html.ActionLink("Eliminar", "Delete", new { id = row["Id"] }) |
                          @Html.ActionLink("Ver Participaciones","",new { id=row["Id"] })
                    <td/>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>@Html.ActionLink("Regresar", "Index", new { id=ViewBag.IdSeccion })</div>