@model MudulProject.Models.Matricula

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Matricula</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.FechaMatricula, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaMatricula)
                @Html.ValidationMessageFor(model => model.FechaMatricula)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberAccountId_Usuarios, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberAccountId_Usuarios)
                @Html.ValidationMessageFor(model => model.NumberAccountId_Usuarios)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_TipoMatricula, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_TipoMatricula)
                @Html.ValidationMessageFor(model => model.Id_TipoMatricula)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_MetodosDePago, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_MetodosDePago)
                @Html.ValidationMessageFor(model => model.Id_MetodosDePago)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Campus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_Campus)
                @Html.ValidationMessageFor(model => model.Id_Campus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total)
                @Html.ValidationMessageFor(model => model.Total)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
