@model MudulProject.Models.LoginViewModel


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8" />
    <title>LogIn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }

            .form-signin .form-signin-heading,
            .form-signin .checkbox {
                margin-bottom: 10px;
            }

            .form-signin input[type="text"],
            .form-signin input[type="password"] {
                font-size: 16px;
                height: auto;
                margin-bottom: 15px;
                padding: 7px 9px;
            }

        .text-center {
            text-align: center !important;
        }
    </style>
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>

<body>
    <div class="container">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
        {
            <div id="clientLogo">

            </div>
            <ul class="media-list">
                <li class="media">
                    <div class="media-body">
                        <h3 class="text-center" id="clientName"></h3>
                        <h3 class="text-center media-heading form-signin-heading">Ingreso</h3>

                    </div>
                </li>
            </ul>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder ="User" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
            @Html.ValidationSummary()
        }

      

    </div>
</body>
</html>