@model IEnumerable<MudulProject.Models.Horarios>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var HorarioMap = ViewBag.HorariosMap as Dictionary<int, string>;
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Horarios</label>
        </th>
        <th>
            <label>Hora</label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFormateada)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

            </td>
        </tr>
    }
</table>


