
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div id="wrapper" class="navbar-fixed-top">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        @Html.ActionLink("MUDUL", "Index", "Home", null, new {@class = "navbar-brand"})
                    </a>

                </li>
                <h4>Usuario @User.Identity.Name</h4>
            
                  <li>@Html.ActionLink("Carreras", "Index", "Carreras")</li>
             
                <li>@Html.ActionLink("Asignaturas", "Index", "Asignaturas")</li>
                <li>@Html.ActionLink("Secciones", "Index", "Secciones")</li>
                <li>@Html.ActionLink("Aulas", "Index", "Aulas")</li>
                <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                <li>@Html.ActionLink("Tipo de Usuarios", "Index", "TipoUsuarios")</li>
                <li>@Html.ActionLink("Adicionar / Cancelar", "Index", "matriculados")</li>

                <li>@Html.ActionLink("Salir", "Logout", "Account")</li>
             
</ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div class="container body-content">
           
                @RenderBody()
           
            <hr/>
            <footer>
                <p>&copy; @DateTime.Now.Year - CEUTEC SPS - PROYECTO MOODLE</p>
            </footer>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
