@using System
@using MudulProject.Models;
@{
    ViewBag.Title = "Matriculados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var List1 = ViewData["matriculas"] as List<_matriculas>;
    var cuentaId = ViewData["cuenta"];
}

<h2>Matricula</h2>

<div class="table-responsive">

    <table class="table">
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Cuenta
            </th>
            <th>
                Nombre
            </th>
            <th>
                Tipo Matricula
            </th>
            <th>
                Campus
            </th>
            <th>
                Lugar Campus
            </th>
            <th></th>
        </tr>

        @foreach (var item in List1)
        {
            <tr>

                <td>
                    @item.Fecha
                </td>
                <td>
                    @item.Cuenta
                </td>
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.TipoMatricula
                </td>
                <td>
                    @item.Campus
                </td>
                <td>
                    @item.LugarCampus
                </td>
                <td>
                    <a href="/ClasesMatriculadas/Clases/@item.Id">Ver Clases</a> |
                    <a href="/ClasesMatriculadas/VistaAdicionar?id=@item.Cuenta&idMatricula=@item.Id&cuenta=@cuentaId">Adicionar</a> 
                </td>
            </tr>
        }

    </table>
</div>